html {
  scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */ 
}
.container-promo {
  width: 1500px;
  width: 98.8666vw;
  width: 98.879vw;
  /*width: 100vw;*/
  width: 100%;
  margin: 0 auto;
  padding-bottom: 500px;
  scroll-behavior: smooth;
  scroll-behavior: smooth;
}
.slider-for div:first-child {
  background: #ccc;
}
.slider-for div:last-child {
  background: #000;
}
div.slider{
  overflow:hidden; 
  width: 100%;  
  position: relative;
}
.box-slider-mobile-swipe {
  display: none;
}
.slider-mobile-swipe {
  display: none;
}
.slider-hint {
  display: none;
}
.btn-reset-filter {
  font-size: 17px;
  font-size: 1.133vw;
  color: rgb(255, 255, 255);
  border-width: 0px;
  clear: both;
  display: table;
  position: relative;
  background: none;
  line-height: 1;
  cursor: pointer;
  font-family: HelveticaNeue;
  padding: 0;
  line-height: 45px;
  line-height: 3vw;
  border-radius: 4px;
  border-radius: 0.266vw;
  background: #691b84;
  margin: 40px auto 0;
  width: 230px;
  margin: 2.66vw auto 2.66vw;
  display: inline-block;
}
#Blocks{
  width: 100%; 
  height: 495px;
  height: 33vw;
}
div.Block {
  width: 50%; 
  height: 495px; 
  height: 33vw;
  float: left;
  position: relative;
  overflow: hidden;
  transition: width 2s linear;
}
div.Block > img {
  position: absolute;
  width: 1432px;
  width: 95.4666vw;
  /*width: 100vw;*/
  width: 98.879vw;
  height: 495px;
  height: 33vw;
  display: inline-block;
}
div.Block1 img {
  /*left: 0;*/
}
div.Block1 button {
  right: -2px;
}
div.Block2 button {
  left: -2px;
}
div.Block2 > img {
  right: 0;
}
.Block2 {
  border-left: 1px solid #fff;
}
#Blocks button {
  border: 0;
  position: absolute;
  bottom: -5px;
  font-size: 0;
  outline: none;
  cursor: pointer;
}
#Blocks .slick-prev {
  background: url('../images/ochishchenie/btn-slider-left.png') no-repeat;
  width: 65px;
  height: 65px;
}
#Blocks .slick-next {
  background: url('../images/ochishchenie/btn-slider-right.png') no-repeat;
  width: 65px;
  height: 65px;
}
#Blocks .slick-prev.slick-btn {
  background: url('../images/ochishchenie/btn-slider-left2.png') no-repeat;
  width: 65px;
  height: 65px;
}
#Blocks .slick-next.slick-btn {
  background: url('../images/ochishchenie/btn-slider-right2.png') no-repeat;
  width: 65px;
  height: 65px;
}
.slider-top {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  z-index: 2;
  background: rgba(38,44,62,0.73);
  text-align: center;
  padding-top: 42px;
}
.slider-face_name {
  font-size: 52px;
  font-size: 3.466vw;
  color: #fff;
  line-height: 38px;
  line-height: 2.533vw;
  margin-bottom: 10px;
  margin-bottom: 0.666vw;
  position: absolute;
  left: 156px;
  left: 10.4vw;
  top: 125px;
  top: 8.33vw;
  font-weight: 300;
  text-align: left;
  font-family: HelveticaNeueThin;
  text-transform: uppercase;
}
.slider-face_name span {
  font-size: 25px;
  font-size: 1.666vw;
  display: inline-block;
  margin-bottom: 27px;
  margin-bottom: 1.8vw;
}
.slider-top-title {
  font-size: 44.7px;
  font-size: 2.98vw;
  color: rgb(255, 255, 255);
  line-height: 1.4;213
  text-align: center;
  margin-bottom: 26px;
  margin-bottom: 1.733vw;
  position: absolute;
  top: 104px;
  top: 6.933vw;
  right: 113px;
  right: 7.533vw;
  font-weight: 300;
  text-align: left;
  font-family: HelveticaNeueThin;
}
.slider-face_surname {
  color: #a8aadf;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  font-family: HelveticaNeue;
  position: absolute;
  right: 114px;
  right: 7.6vw;
  bottom: 52px;
  bottom: 3.4666vw;
}
.slider-face_surname span {
  color: #fff;
}
.slider-top-title span:not(.not-mobile) {
  font-size: 35px;
  font-size: 2.33vw;
  display: table;
  line-height: 1.1;
}
.slider-top-title2 {
  padding-left: 65px;  
}
.box-slider-top-title {
  display: inline-block;
  position: relative;
  font-size: 21.641px;
  font-size: 1.44266vw;
  color: rgb(255, 255, 255);
  line-height: 31px;
  line-height: 2.0666vw;
  text-align: center;
}
.slider-top:after {
  content: "";
  width: 156px;
  width: 10.4vw;
  height: 106px;
  height: 7.066vw;
  background: url('../images/ochishchenie/signature.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 50%;
  bottom: 48px;
  bottom: 3.2;
  margin-right: -313px;
  margin-right: -20.866vw;
}
.kovichki {
  /*font-size: 65px;*/
  color: rgb(255, 255, 255);
  /*line-height: 1.2;*/
  text-align: center;
  width: 13px;
  width: 0.866vw;
  height: 15px;
  height: 1vw;
  background: url('../images/ochishchenie/quotes.png') no-repeat;
  display: inline-block;
  position: absolute;
  left: -30px;
  left: -2vw;
  top: -7px;
  top: -0.4666vw;
}
.kovichki2 {
  right: -30px;
  left: inherit;
  -moz-transform: rotate(180deg); /* Для Firefox */
  -ms-transform: rotate(180deg); /* Для IE */
  -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(180deg); /* Для Opera */
  transform: rotate(180deg);
}
.slider-top-btn-next {
  font-size: 16px;
  font-size: 1.0666vw;
  color: rgb(255, 255, 255);
  border-width: 0px;
  clear: both;
  display: table;
  position: relative;
  background: none;
  line-height: 1;
  cursor: pointer;
  font-family: HelveticaNeue;
  padding: 15px 55px 15px 80px;
  padding: 1vw 3.666vw 1vw 5.333vw;
  border-radius: 4px;
  border-radius: 0.266vw;
  background: #691a83;
}
.slider-top-btn-next:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 11px;
  border-width: 0.4vw 0 0.4vw 0.7333vw;
  border-color: transparent transparent transparent #fff;
  line-height: 0px;
  _border-color: #000000 #000000 #000000 #fff;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  position: absolute;
  left: 52px;
  left: 3.4666vw;
  top: 16px;
  top: 1.066vw;
}
.slider-top-btn-video {
  font-size: 16px;
  font-size: 1.066vw;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 196px;
  left: 13.066vw;
  bottom: 45px;
  bottom: 3vw;
  font-family: HelveticaNeue;
}
.slider-top-btn-video:hover {
  font-size: 16px;
  font-size: 1.066vw;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.slider-top-btn-video:before {
  content: "";
  width: 29px;
  width: 1.933vw;
  height: 29px;
  height: 1.933vw;
  background: url(../images/ochishchenie/ico-play-video.png);
  background-size: cover;
  position: absolute;
  left: -40px;
  left: -2.666vw;
  top: 50%;
  margin-top: -17px;
  margin-top: -1vw;
}
.slider-product1 {
  display: none;
}
.slider-product2 {
  display: none;
  position: absolute;
  text-align: center;
  top: 0;
  /*top: -77px;
  top: -5.133vw;*/
}
.slider-morning-right {
  right: 0;
}
.slider-evening-right {
  left: -30px;
  left: -2vw;
}
.slider-evening-right.slider-product1 {
  right: 160px;
  right: 10.66vw;
  left: inherit;
  top: 66px;
  top: 4.4vw;
}
.box-slider-product-procent {
  display: table;
  width: 100%;
  text-align: center;
}
.slider-morning-right .slider-product-procent {
  color: #bb3991;
  background-color: rgba(232, 170, 198, 0.4);
}
.slider-evening-right .slider-product-procent {
  color: #fff;
  border-radius: 20px;
  border-radius: 1.333vw;
  background-color: rgba(211, 212, 234, 0.4);
}
.slider-product-procent {
  padding: 20px;
  padding: 1.333vw;
  font-size: 16px;
  font-size: 1.0666vw;
  font-weight: 300;
  margin-bottom: 30px;
  margin-bottom: 2vw;
  display: inline-block;
  border-radius: 20px;
  border-radius: 1.333vw;
  margin-top: -17px;
  margin-top: -1.1333vw;
}
.slider-product-procent span.proc {
  font-size: 58px;  
  font-size: 3.866vw;  
  display: inline-block;
  margin-right: 15px;
  margin-right: 1vw;
  float: left;
  line-height: 43px;
  line-height: 2.866vw;
  font-family: HelveticaNeueThin;
}
.slider-product-procent span.text {
  display: inline-block;
  line-height: 1.2;
  padding-top: 3px;
  padding-top: 0.2vw;
  text-align: left;
  font-family: HelveticaNeue;
}
.slider-product2 ul {
  display: inline-block;
  padding: 0 0 0 19px;
  padding: 0 0 0 1.2666vw;
}
.slider-morning-right ul li {
  color: #bb3991;
}
.slider-evening-right ul li {
  color: #fff;
}
.slider-product2 ul li {
  display: inline-block;
  float: left;
  margin-right: 34px;
  margin-right: 2.266vw;
  position: relative;
  width: 90px;
  width: 6vw;
}
.slider-product2 ul li:last-child {
  margin-right: 0;
}
.slider-product2 ul li:after {
  content: "";
  position: absolute;
  right: -19px;
  right: -1.2666vw;
  top: 29px;
  top: 1.933vw;
  width: 6px;
  width: 0.4vw;
  height: 6px;
  height: 0.4vw;
  border-radius: 50%;
  background: #fff;
}
.Block1 .slider-product2 ul li:after {
  background: #bb3991;
}
.slider-product2 ul li:last-child:after {
  display: none;
}
.slider-product2 ul li img {
  margin-bottom: 3px;
  margin-bottom: 0.2vw;
  margin-left: -4px;
  margin-left: -0.266vw;
  width: 65px;
  width: 4.33vw;
}
.slider-product2 ul li span {
  font-size: 14px;
  font-size: 0.933vw;
  line-height: 1.2;
  display: inline-block;
  text-align: center;
  font-family: HelveticaNeue;
}
div.Block .img-morning {
  display: none;
}
div.Block .img-morning-left {
  width: 258px;
  width: 17.2vw;
  height: 453px;
  height: 30.2vw;
  position: absolute;
  left: 165px;
  left: 11vw;
  top: 63px;
  top: 4.2vw;
  right: inherit;
}
div.Block .img-morning-right {
  width: 507px;
  width: 33.8vw;
  height: 481px;
  height: 32.066vw;
  position: absolute;
  right: 0px;
  top: 0px;
  left: inherit;
}
div.Block .img-evening {
  display: none;
}
div.Block .img-evening-left {
  width: 507px;
  width: 33.8vw;
  height: 481px;
  height: 32.066vw;
  position: absolute;
  right: 0px;
  top: 0px;
  left: inherit;
}
div.Block .img-evening-right {
  width: 246px;
  width: 16.4vw;
  height: 385px;
  height: 25.666vw;
  position: absolute;
  left: 165px;
  left: 11vw;
  top: 63px;
  top: 4.2vw;
  right: inherit;
}
.slider-block2 {
  display: none;
  position: absolute;
  left: 158px;
  left: 10.53vw;
  top: 80px;
  top: 5.333vw;
}
.slider-block2-min-text {
  font-size: 30px;
  font-size: 2vw;
  color: rgb(187, 57, 145);
  line-height: 1.2;
  text-align: left;
}
.slider-block2-min-text span {
  font-size: 123px;
  color: rgb(187, 57, 145);
  line-height: 100px;
  line-height: 6.666vw;
  text-align: center;
  padding-right: 32px;
  padding-right: 2.133vw;
  float: left;
}
.slider-block2-max-text {
  font-size: 30px;
  font-size: 2vw;
  color: rgb(187, 57, 145);
  line-height: 1.2;
  text-align: left;
  display: table;
  clear: both;
  padding-top: 16px;
  padding-top: 1.066vw;
}
.box-video {
    display: none;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.player-btn-close {
    background: url('../images/ochishchenie/btn-close.png') no-repeat;
    width: 20px;
    width: 1.333vw;
    height: 21px;
    height: 1.4vw;
    position: absolute;
    top: 20px;
    top: 1.333vw;
    right: 20px;
    right: 1.333vw;
}
/*---slider-product---*/
.slider-product1 {
  height: 405px;
  height: 27vw;
  position: absolute;
  text-align: center;
}
.slider-product1 > img {
  position: absolute;
  bottom: 0;
  height: 340px;
  height: 22.66vw;
}
.slider-product2 > img {
  width: 480px;
  width: 32vw;
}
.slider-morning-left {
  left: 170px;
  left: 11.333vw;
  top: 63px;
  top: 4.2vw;
}
.slider-morning-left .slider-block-img-title {
  color: #bb3991;
}
.slider-evening-right .slider-block-img-title {
  color: #fff;
}
.slider-block-img-title {
  font-size: 55px;
  font-size: 3.666vw;
  line-height: 50px;
  line-height: 3.33vw;
  text-align: left;
  position: relative;
  margin-bottom: 27px;
  margin-bottom: 1.8vw;
  font-weight: 300;
  font-family: HelveticaNeueThin;
}
.slider-block-img-title img {
  margin-right: 40px;
  margin-right: 2.666vw;
  vertical-align: top;
  height: 48px;
  height: 3.2vw;
}
.slider-morning-left .slider-block-img-text {
  color: #bb3991;
}
.slider-evening-right .slider-block-img-text {
  color: #fff;
}
.slider-block-img-text {
  font-size: 30px;
  font-size: 2vw;
  line-height: 23px;
  line-height: 1.533vw;
  font-family: HelveticaNeueThin;
}
.slider-block-img-text span {
  font-size: 16px;
  font-size: 1.066vw;
  font-family: HelveticaNeue;
}
/*---end-slider-product---*/
.block-ideal-means {
  width: 100%;
  -webkit-box-shadow: 0px 21px 100px 0px rgba(55, 55, 55, 0.17);
  -moz-box-shadow: 0px 21px 100px 0px rgba(55, 55, 55, 0.17);
  box-shadow: 0px 21px 100px 0px rgba(55, 55, 55, 0.17);
  position: relative;
  z-index: 2;
  text-align: center;
  scroll-behavior: smooth
}
.ideal-means-title {
  width: 100%;
  text-align: center;
  padding: 35px 0;
  padding: 2.333vw 0;
  font-size: 40px;
  font-size: 2.666vw;
  font-family: HelveticaNeueThin;
}
.skin-type {
  width: 100%;
  padding: 60px 0;
  padding: 4vw 0;
  background: url('../images/ochishchenie/bg-skin-type.jpg');
  background-size: cover;
  position: relative;
}
.skin-type:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  margin-left: -21.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 21.5px 0 21.5px;
  border-color: #ffffff transparent transparent transparent;
}
.skin-type-title {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  margin-bottom: 2.66vw;
  font-size: 30px;
  font-size: 2vw;
  color: #fff;
}
.skin-type-items {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.skin-type-item {
  display: inline-block;
  padding: 0 80px;
  padding: 0 5.333vw;
  text-decoration: none;
}
.skin-type-item a:hover img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=31, Direction=0, Color=#FFFFFF)";/*IE 8*/
  -moz-box-shadow: 0 0 31px 6px rgba(255,255,255,0.8);/*FF 3.5+*/
  -webkit-box-shadow: 0 0 31px 6px rgba(255,255,255,0.8);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 0 31px 6px rgba(255,255,255,0.8);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=31, Direction=135, Color=#FFFFFF); /*IE 5.5-7*/
}
.btn-norm {
  text-decoration: none;
}
.skin-type-item a:hover span, .skin-type-item a:hover {
  text-decoration: none;
}
.skin-type-item span {
  display: table;
  color: #fff;
  font-size: 24px;
  font-size: 1.6vw;
  font-family: "HelveticaNeueThin";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}
.skin-type-item img {
  margin-bottom: 15px;
  margin-bottom: 1vw;
  width: 96px;
  width: 6.4vw;
  height: 96px;
  height: 6.4vw;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #fff;
}
/*want-morning-evening*/
.want-morning-evening {
  width: 100%;
  display: none;
  overflow: hidden;
  position: relative;
}
.want-morning-evening:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 21.5px 0 21.5px;
  border-color: #606086 transparent transparent transparent;
}
.want-morning-evening .nav-tabs {
  display: table;
  width: 100%;
  border: 0;
  padding: 0;
}
.want-morning-evening .nav-tabs li {
  width: 50%;
  display: inline-block;
  float: left;
  /*max-width: 265px;*/
}
.want-morning-evening li .nav-link img {
  display: inline-block;
  margin-right: 15px;
  margin-right: 1vw;
  height: 40px;
  height: 2.666vw;
}
.want-morning-evening li .nav-link .img-hover-want-morning-evening {
  display: none;
}
.want-morning-evening li .nav-link:hover .img-want-morning-evening {
  display: none;
}
.want-morning-evening li .nav-link:hover .img-hover-want-morning-evening {
  display: inline-block;
}
.want-morning-evening li .nav-link.active .img-want-morning-evening {
  display: none;
}
.want-morning-evening li .nav-link.active .img-hover-want-morning-evening {
  display: inline-block;
}
.want-morning-evening .want-title {
  font-size: 30px;
  margin: 0 0 25px;
  padding: 0;
  line-height: 1.167;
  color: #fff;
  font-weight: 300;
  font-family: HelveticaNeueThin;
}
.want-morning-evening .nav-item {
  padding-right: 10px;
  margin-bottom: 10px;
}
.want-title b {
  font-weight: bold;
}
.want-morning .want-title {
  color: rgb(187, 57, 145);
}
.want-morning-evening > div {
  width: 50%;
  display: table-cell;
}
.block-ideal-means.popap .want-morning-evening > div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 2;
}
.want-morning-evening .want-morning .box-want-morning, .want-morning-evening .want-evening .box-want-evening {
  width: 100%;
  display: inline-block;
  padding: 50px 0 70px;
  padding: 3.333vw 0 4.66vw;
  background-size: cover!important;
  box-sizing: border-box;
  min-height: 355px;
  min-height: 23.66vw;
  position: relative;
  z-index: 5;
}
.box-want-evening.popap:before, .box-want-morning.popap:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;

}
.ico-pero {
 
}
.want-morning-evening .want-morning {
}
.want-morning-evening .want-morning .box-want-morning {
  background: url(../images/ochishchenie/want-morning.jpg);
  padding-left: 155px;
  padding-left: 10.333vw;
  padding-right: 55px;  
  padding-right: 3.66vw;  
}
.want-evening {
}
.want-morning-evening .want-evening .box-want-evening {
  background: url(../images/ochishchenie/want-evening.jpg);
  padding-left: 55px;
  padding-left: 3.66vw;
  padding-right: 155px;  
  padding-right: 10.333vw;  
}
.box-want-morning-product {
  
}
.box-want-morning .nav-tabs .nav-link {
  border-radius: 4px;
  background: rgba(255,245,249,0.5);
  font-size: 16px;
  font-size: 1.066vw;
  color: rgb(113, 76, 101);
  line-height: 60px;
  line-height: 4vw;
  padding: 0 20px;
  padding: 0 1.3333vw;
  border: 0;
  display: inline-block;
  width: 100%;
  font-family: HelveticaNeue;
}
.box-want-morning .nav-tabs .nav-link.active {
  border-radius: 4px;
  background: #e8aac6;
  color: #fff;
}
.nav-tabs .nav-link {
  text-align: left;
}
.box-want-evening .nav-tabs .nav-link {
  border-radius: 4px;
  background: rgba(9,10,39,0.4);
  font-size: 16px;
  font-size: 1.066vw;
  color: rgb(168, 170, 223);
  line-height: 60px;
  line-height: 4vw;
  padding: 0 20px;
  padding: 0 1.3333vw;
  border: 0;
  display: inline-block;
  width: 100%;
}
.box-want-evening .nav-tabs .nav-link.active {
  border-radius: 4px;
  background: rgba(139,143,241,0.4);
  color: #fff;
}
.want-morning-evening.active .box-want-morning-product:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  margin-left: -21.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 21.5px 0 21.5px;
  border-color: #e5dbe1 transparent transparent transparent;
  z-index: 6;
}
.box-want-evening-product {
 /* padding: 45px 20px 55px 55px;
  padding: 3vw 1.333vw 3.66vw 3.66vw;*/
}
.want-morning-evening.active .box-want-evening-product:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  margin-left: -21.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 21.5px 0 21.5px;
  border-color: #202138 transparent transparent transparent;
  z-index: 6;
}
.box-want-product-title {
  font-size: 30px;
  font-size: 2vw;
  font-family: HelveticaNeueThin;
  text-align: left;
}
.box-want-product-info {
  font-size: 16px;
  font-size: 1.066vw;
  margin-bottom: 50px;
  margin-bottom: 3.333vw;
  font-family: HelveticaNeue;
  text-align: left;
}
.box-want-product-items {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  /*position: relative;*/
  /*margin-left: -53px;
  margin-left: -3.5333vw;*/
  /*height: 360px;*/
  /*--Высоту лучше вычислять--*/
}
.box-want-product-item {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  padding: 0 1vw;
  padding: 0 0;
  /*width: 31%;*/
  /*position: relative;*/
  /*width: 200px;*/
}
.box-want-product-item img {
  max-width: 100%;
}
.box-want-product-item > span {
  display: table;
  font-size: 16px;
  font-family: HelveticaNeue;
  font-weight: normal;
  line-height: 1.2;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-top: 1vw;
  position: relative;
  height: 57px;
  height: 3.8vw;
}
/*.box-want-product-item img {
  position: absolute;
  bottom: 0;
}*/
.box-want-product-item > a.open_popap {
  width: 60px;
  width: 4vw;
  height: 60px;
  height: 4vw;
  border-radius: 50%;
  display: inline-block;
  background: url('../images/ochishchenie/ico-btn-want-morning-evening.png') center no-repeat;
  position: absolute;
}
.want-morning .box-want-product-item > a.open_popap {
  background-color: rgba(255,146,191,0.6);
}
.want-evening .box-want-product-item > a.open_popap {
  background-color: rgba(104,105,161,0.6);
}
.tab-content {
  position: relative;
  vertical-align: top;
  /*height: 820px;*/
  width: 100%;  
}
.want-morning-evening.active .tab-content {
  display: inline-block;
}
.tab-content.popap:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);  
  z-index: 5;
}
.tab-pane {
  position: relative;
  padding: 3vw 1.333vw 3.66vw 3.66vw;
}
.tab-pane.fade.show {
  display: block;
  width: auto;
  height: 820px;
  /*height: 48.66vw;*/
  height: 42.66vw;
}
.box-want-product-item-popap {
  display: none;
  position: absolute;
  z-index: 50;
  background: #fff;
  bottom: 15vw;
  left: 3vw;
  width: 90%;
  padding: 37px 50px 30px 0;
  padding: 2.466vw 3.333vw 2vw 0;
  border-radius: 10px;
}
.product-popap-close {
  background: url('../images/ochishchenie/btn-close.png') no-repeat;
  background-size: cover;
  width: 20px;
  width: 1.333vw;
  height: 21px;
  height: 1.4vw;
  right: -20px;
  right: -1.333vw;
  top: -28px;
  top: -1.866vw;
  position: absolute;
}
.box-want-product-item-popap > div {
  display: inline-block;
  float: left;  
}
.product-popap-img {
  width: 41%;
}
.product-popap-img img {
  /*width: 66%;*/
  max-height: 223px;
  max-height: 14.8666vw;
}
.product-popap-text {
  width: 59%;
  font-size: 16px;
  font-size: 1.066vw;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
}
.product-popap-title {
  font-size: 16px;
  font-size: 1.066vw;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 16px;
  margin-bottom: 1.066vw;
  font-family: HelveticaNeue;
}
.product-popap-text ul {
  width: 100%;
  padding: 0;
}
.product-popap-text ul li {
  margin-bottom: 20px;
  margin-bottom: 1.333vw;
  list-style: none;
  display: table;
  width: 100%;
  font-family: HelveticaNeue;
}
.product-popap-text ul li span {
  font-family: HelveticaNeue;
  font-weight: normal;
}
.product-popap-text ul li img {
  float: left;
  margin-right: 20px;
  margin-right: 1.333vw;
  width: 35px;
  width: 2.307185vw;
}
.popap-more-product {
  font-size: 16px;
  font-size: 1.066vw;
  color: rgb(112, 44, 142);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: relative;
  font-family: HelveticaNeue;
}
.popap-more-product:hover {
  font-size: 16px;
  font-size: 1.066vw;
  color: rgb(112, 44, 142);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: relative;
}
.popap-more-product:before {
  content: "";
  background: url("../images/ochishchenie/popap-next-product.png") no-repeat;
  background-size: cover;
  width: 7px;
  width: 0.466vw;
  height: 13px;
  height: 0.866vw;
  position: absolute;
  right: -17px;
  right: -1.133vw;
  top: 5px;
  top: 0.333vw;
}
.promo-catalog-carousel {
  margin: 0;
}
.ochishchenie-product-filter {
  display: inline-block;
  padding: 0;
}
.ochishchenie-product-filter li {
  display: inline-block;
  float: left;
  margin: 0 35px 15px;
  margin: 0 2.33vw 1vw;
}
.ochishchenie-product-filter li a {
  line-height: 40px;
  line-height: 2.66vw;
  min-width: 200px;
  min-width: 13.333vw;
  display: inline-block;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 12px 0px rgba(34, 34, 34, 0.2);
  -moz-box-shadow:    0px 1px 12px 0px rgba(34, 34, 34, 0.2);
  box-shadow:         0px 1px 12px 0px rgba(34, 34, 34, 0.2);
  border-radius: 3px;
  border-radius: 0.2vw;
  font-family: HelveticaNeue;
  font-weight: bold;
  color: rgb(105, 26, 131);
}
.ochishchenie-product-filter li a img {
  margin-right: 15px;
  margin-right: 1vw;
  margin-top: -4px;
  margin-top: -0.266vw;
  height: 21px;
  height: 1.3843vw;
}
.container-promo #bg-carousel-wrapper {
  text-align: center;
}
.slick-dots {
  top: inherit!important;
  position: relative!important;
}
#bg-carousel-wrapper {
  background-color: rgb(255, 255, 255);
}
#bg-carousel-wrapper .teasers-wrapper {
  padding-bottom: 10px;
  padding-bottom: 0.666vw;
  padding-top: 55px;
  padding-top: 3.666vw;
}
.region-bp-ochishchenie-blocks .slick-initialized .slick-slide {
  padding: 5px 1.2rem 0.3rem;
  padding: 0.33vw 1.2rem 0.3rem;
}
.region-bp-ochishchenie-blocks .slick-initialized .teaser-normal .teaser-inner {
  -webkit-box-shadow: 0px 0px 9px 0px rgba(37, 37, 37, 0.17); 
  -moz-box-shadow: 0px 0px 9px 0px rgba(37, 37, 37, 0.17); 
  box-shadow: 0px 0px 9px 0px rgba(37, 37, 37, 0.17); 
  padding: 0;
  height: 430px;
  /*height: 28.666vw;*/
}
.region-bp-ochishchenie-blocks .slick-prev.slick-arrow {
    left: -75px;
    left: -5vw;
}
.region-bp-ochishchenie-blocks .slick-next.slick-arrow {
    right: -75px;
    right: -5vw;
}
.region-bp-ochishchenie-blocks .slick-dots li.slick-active button {
  border: solid 2px #691b83;
  border: solid 0.133vw #691b83;
}
.handle { /* Thin line seperator */
  position:absolute; 
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;
  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}
.slider-baner {
  display: none;
}
#block-ideal-means-top {
  height: 0;
  width: 100%;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

  /* Small screen, retina, stuff to override above media query */
  div.Block > img {
    width: 100vw;
  }
}
/*---product-filter---*/
  .voda-micelyar {}
  .uhazhivayushchiy-tonik-komfort-dlya-suhoy-i-chuvstvitelnoy-kozhi {}
  .skrab-dlya-lica-dlya-normalnoy-i-kombinirovannoy-kozhi {}
  .penka-muss-dlya-umyvaniya {}
  .penka-muss-dlya-umyvaniya-2v1-dlya-normalnoy-i-kombinirovannoy-kozhi {}
  .osvezhayushchiy-tonik-dlya-normalnoy-i-kombinirovannoy-kozhi {}
  .osvezhayushchiy-gel-dlya-umyvaniya-dlya-normalnoy-i-kombinirovannoy-kozhi {}
  .micellyarnaya-voda-dlya-lica-vek-i-gub {}
  .krem-gel-dlya-umyvaniya-dlya-suhoy-i-chuvstvitelnoy-kozhi {}
  .bio-maslo-dlya-umyvaniya {}
/*---end-product-filter---*/
/*---headeer---*/
  .new-bg {
  }
  header.new-bg#bp-main-header {
    box-shadow: none;
  }
  .new-bg #header-wrapper {
    background: none;
  }
  .new-bg:before {
    content: "";
    width: 50%;
    height: 100%;
    background: #220535;
    position: absolute;
    left: 0;
    top: 0;
  }
  .new-bg:after {
    content: "";
    width: 50%;
    height: 100%;
    background: #380b53;
    position: absolute;
    right: 0;
    top: 0;
  }
  .new-bg .container {
    max-width: inherit;
    width: 1323px;
    height: 100%;
    position: relative;
  }
  .new-bg #header-wrapper .container:before {
    content: "";
    width: 1920px;
    height: 60px;
    background: url(../images/header/header.png) no-repeat;
    position: absolute;
    left: 50%;
    top: 0;
    display: inline-block;
    margin-left: -960px;
  }
  .new-bg ul.mainmenu li a {
    color: #ffffff;
  }
  .new-bg .usermenu.inline-menu li a span:before {
    color: #fff;
  }
  .new-bg #bp-logo img {
    /*display: none;*/
  }
  .new-bg #bp-logo {}
  .new-bg .indicator {
    color: #712b90;
    background: #fff;
  }
/*---end-headeer---*/
@import url(ochishchenie-mobile-styles.css);