.product-ban-ochischenie {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 10px;
}
.product-ban-ochischenie > img {
  width: 100%;
}
.product-ban-ochischenie .btn-product-ban-ochischenie {
  position: absolute;
  border-radius: 4px;
  background-color: #bb3991;
  width: 146px;
  line-height: 31px;
  bottom: 13%;
  left: 50%;
  margin-left: -74px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-align: center;
  display: inline-block;
}
.filter-ban {
  position: relative;
}
.filter-ban-btn {
  border-radius: 4px;
  background-color: #691c81;
  width: 146px;
  line-height: 37px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}
.box-product-ban > div {
  float: left;
}
.box-product-ban .col-xl-7 {
  padding-right: 0;
}
.box-main-baner {
  display: table;
  width: 1230px;
  margin: 0 auto;
  padding: 0 4.5rem;
  position: relative;
  background: #f6e4eb;
  height: 530px;
}
.main-baner-text {
  position: absolute;
  top: 55px;
  display: inline-block;
}
.main-baner-text-left {
  background: url(../images/ochishchenie/banners/main/main-baner-text-left.png);
  width: 211px;
  height: 127px;
  left: 0;
}
.main-baner-text-right {
  background: url(../images/ochishchenie/banners/main/main-baner-text-right.png);
  width: 228px;
  height: 116px;
  right: 0;
}
.main-baner-step {
  position: absolute;
  width: 41px;
  height: 150px;
  background-size: cover;
}
.main-baner-step-left {
  background-image: url(../images/ochishchenie/banners/main/main-baner-step-left.png);
  /*width: 201px;
  height: 723px;*/
  left: 50%;
  top: 48px;
  margin-left: -70px;
}
.main-baner-step-right {
  background-image: url(../images/ochishchenie/banners/main/main-baner-step-right.png);
  /*width: 201px;
  height: 750px;*/
  right: 50%;
  bottom: 157px;
  margin-right: -70px;
}
.main-baner-img {
  position: absolute;
  bottom: 0;
}
.main-baner-img1 {
  background: url(../images/ochishchenie/banners/main/main-baner-img1.png);
  width: 164px;
  height: 292px;
  left: 0;
}
.main-baner-img2 {
  background: url(../images/ochishchenie/banners/main/main-baner-img2.png);
  width: 189px;
  height: 367px;
  right: 0;  
}
.main-baner-title {
  font-size: 32px;
  color: #bb3991;
  font-weight: 300;
  line-height: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding-left: 211px;
}
.main-baner-title span {
  font-size: 52px;
  color: #bb3991;
  display: table;
  line-height: 1;
}
.main-baner-btn {
  font-size: 19px;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 7px;
  background-color: #bb3991;
  position: absolute;
  width: 221px;
  line-height: 50px;
  right: 200px;
  bottom: 48px;
}
@media (max-width: 767px) {
  .box-product-ban {
    padding-top: 0;
  }
  .box-product-ban .col-xl-7 {
    padding: 0 0 20px;
  }
  .product-ban-ochischenie .btn-product-ban-ochischenie {
    position: absolute;
    border-radius: 4px;
    border-radius: 0.52vw;
    background-color: #bb3991;
    width: 146px;
    width: 19vw;
    line-height: 27px;
    line-height: 4.036vw;
    bottom: 13%;
    left: 50%;
    margin-left: -74px;
    margin-left: -9.5vw;
    font-size: 12px;
    font-size: 1.5625vw;
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
  }
}