.product-ban-ochischenie {
  position: relative;
  display: inline-block;
}
.product-ban-ochischenie .btn-product-ban-ochischenie {
  position: absolute;
  border-radius: 4px;
  background-color: #bb3991;
  width: 146px;
  line-height: 31px;
  top: 112px;
  left: 50%;
  margin-left: -74px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-align: center;
  display: inline-block;
}
.filter-ban {
  position: relative;
}
.filter-ban-btn {
  border-radius: 4px;
  background-color: #691c81;
  width: 146px;
  line-height: 37px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}