@media (max-width: 990px) {
	#Blocks {
		height: 100%;
	}
	.slider-active #Blocks {
		display: none;
	}
	.slider-active .slider-mobile-swipe {
		display: inline-block;
		width: 340px;
		width: 53.125vw;
		height: 72px;
		height: 11.25vw;
	    border-radius: 40px;
	    border-radius: 6.25vw;
		border: solid 1.2px #ffffff;
		position: absolute;
		bottom: 70px;
		bottom: 10.9375vq;
		left: 50%;
		margin-left: -170px;
		margin-left: -26.5625vw;
	}
	.slider-active .slider-mobile-swipe span {
		position: absolute;
		font-size: 22px;
  		font-weight: bold;
  		top: 20px;
  		color: #fff;
  		text-transform: uppercase;
	}
	.slider-active .slider-mobile-swipe span.text1 {
		left: -76px;
	}
	.slider-active .slider-mobile-swipe span.text2 {
		right: -94px;
	}
	.slider-active .slider-mobile-swipe span {}
	.ico-swipe-luna {
		width: 29px;
		height: 33px;
		background: url('../images/ochishchenie/mobile/polina-mobile.jpg') no-repeat;
	}
	.btn-swipe {
		display: inline-block;
		width: 71px;
		width: 11.09375vw;
		height: 71px;
		height: 11.09375vw;
		background-color: #ffffff;
		border-radius: 50%;
		position: absolute;
		left: 135px;
		left: 21.09375vw;
	}
	.slider {
		width: 100%;
		height: 659px;
		background: url('../images/ochishchenie/mobile/polina-mobile.jpg') no-repeat;
	    background-size: cover;	
	}
	.slider-top {
		background: none;
	}
	.slider-face_name {
	    width: 100%;
	    display: inline-block;
	    text-align: center;
	    left: 0;
	    position: initial;
        text-transform: initial;
        font-size: 50px;
        line-height: 1.2;
	}
	.slider-face_name span {
		font-size: 50px;
	}
	.slider-top-btn-next {
		position: absolute;
	    bottom: 45px;
	    width: 448px;
	    margin: 0 auto;
	    left: 50%;
	    margin: 0 0 0 -224px;
	    font-size: 24px;
	    padding: 27px 10px;
	    border-radius: 10px;
		background-color: #691b83;
		text-transform: uppercase;
		font-size: 24px;
	}
	.slider-top-btn-next:before {
		display: none;
	}
	.slider-top-title {
	    width: 100%;
		display: inline-block;
		font-size: 34px!important;
		position: absolute;
		bottom: 170px;
		left: 0;
		top: initial;
		margin: 0;
		right: initial;
		text-align: center;
	    text-transform: lowercase;
	    line-height: 1.2;
	}
	.slider-top-title span {
		width: 100%;
		text-align: center;
		font-size: 34px!important;
	}
	.slider-top-title .slider-top-title2 {
		display: none!important;
	}
	.slider-face_surname {
		display: none;
	}
	.slider-top:after {
		display: none;
	}
	.not-mobile {
		display: none!important;
	}
	div.Block .img-slider-polina {
		display: none;
	}
	div.Block .slick-arrow1 {
		display: none!important;
	}
	div.Block {
		height: 100%;
	}
	.slider-product1 {
		display: table;
		height: auto;
	    top: initial!important;
	    bottom: 159px;
	}
	.slider-product1 > img {
		position: relative;
	    left: initial!important;
		bottom: initial!important;
	}
	.slider-block-img-title, .slider-block-img-text {
		display: none;
	}
	.Block2 {
		border: 0;
	}
	.slider-img-evening-left.slider-img-evening {
		height: 46.66vw!important;
	}
	.slider-img-morning-left.slider-img-morning {
		height: 31vw!important;
	}
	.slider-morning-left {
		left: 6.333vw;
	}
	.slider-evening-right.slider-product1 {
		right: -0.34vw;
	    bottom: 134px;
	}
	.slider-top-btn-video {
		display: none;
	}
	/*---block-filter---*/
	.ideal-means-title {
		font-size: 36px;
	}
	.skin-type-title {
		font-size: 40px;
		font-weight: 100;
	    padding: 0 60px;
	}
	.skin-type-item img {
		width: 137px;
		height: 137px;
	}
	.skin-type-item span {
		font-size: 22px;
	}
	.skin-type:before {
    	border-width: 55px 63px 0 63px;
    	margin-left: -63px;
	}
	.skin-type {
	    padding: 9vw 0;
	}
	.want-morning-evening:before {
		z-index: 10;
		border-width: 55px 63px 0 63px;
		margin-left: -63px;
	    border-color: #55577c transparent transparent transparent;
	}
	.want-morning-evening .want-title {
		font-size: 40px;
	}
	.want-morning-evening .want-morning .box-want-morning, .want-morning-evening .want-evening .box-want-evening {
	    padding: 65px 96px 63px;
	}
	.want-morning-evening .nav-tabs li {
		width: 100%;
		padding: 0;
		margin-bottom: 18px;
	    position: relative;
	}
	.box-want-morning .nav-tabs .nav-link, .box-want-evening .nav-tabs .nav-link {
		font-size: 30px;
	    line-height: 76px;
	    padding-left: 146px;
	}
	.box-want-morning .nav-tabs .nav-link:hover {
		border-radius: 4px;
		background: #e8aac6;
		color: #fff;
	}
	.box-want-evening .nav-tabs .nav-link:hover {}
	.want-morning-evening li .nav-link img {
	    height: 7.666vw;
	    position: absolute;
	    left: 39px;	
	    top: 50%;
    	margin-top: -3.6vw;
	}
	.box-want-product-title {
		font-size: 40px;
		text-align: center;
		margin-bottom: 23px;
	}
	.box-want-product-info {
		font-size: 30px;
  		font-weight: normal;
	}
	.box-want-product-item > a.open_popap {
		width: 103px;
		height: 103px;
		left: -20px;
    	top: -33px;
	}
	.box-want-product-item {
		position: relative;
	}
	.box-want-product-item > span {
		font-size: 22px;
	    text-decoration: underline;
	    margin-top: 15px;
	}
	.tab-pane {
		padding: 55px 0 0;
		margin: 0;
	}
	.btn-reset-filter {
		font-size: 22px;
		line-height: 75px;
		width: 448px;
		border-radius: 10px;
		margin: 35px 0;
	}
	.want-morning-evening.active .box-want-morning-product:before {
		border-width: 55px 63px 0 63px;
		margin-left: -63px;
	}
	/*---end-block-filter---*/
	/*каталог- пока скрыт*/
	.promo-catalog-carousel {
		display: none;
	}
}