// COLORS
$white: #ffffff;
$white-trans: rgba(255, 255, 255, 0.75);
$black: #000000;
$dark: #353535;
$grey: #767575;
$grey-darker: #d8d8d8;
$grey-border: #e1e1e1;
$grey-light: #f1f1f1;
$grey-light2: #f7f7f7;
$grey-lighter: #f9f9f9;
$grey-faint: #dcdcdc;
$grey-normal: #c1c1c1;
$grey-trans: rgba(0, 0, 0, 0.4);
$pink: #ff3c6e;
$pink-light: #ffd8e2;
$pink-dark: #712b90;
$blue: #2b42d0;
$velvet: #6b1485;
$yellow: #f0b425;

// FONTSTYLES
$title-huge: 3.75em;    // 60px
$title-big: 2.5em;      // 40px
$title-normal: 1.125em; // 18px
$title-small: 1.3125em; // 21px
$title-micro: 0.875em;  // 14px

$text-huge: 1.75em;     // 28px
$text-bigger: 1.1875em; // 19px
$text-big: 1em;         // 16px
$text-normal: 0.875em;  // 14px
$text-small: 0.75em;    // 12px
$text-micro: 0.6875em;  // 11px

// MEASUREMENTS
$header-height: 60px;
$footer-height: 190px;
$bp-m-t: 1.8rem;
$bp-card-p-x: 2.4rem;
$bp-card-p-y: 1.8rem;